# Database
DATABASE_URL="mysql://gracer:bDagkH767s22e422@199.21.172.224:3309/farmaroi"

# NextAuth Configuration
NEXTAUTH_URL=https://farmaroi.net
NEXTAUTH_SECRET=n1QewRKuIPiq6zEnUctT8V8w5OzaDJgJRFCnpkZP2k4=
